* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --dark-grey: #181818;
  --grey: #474747;
  --light-grey: #ebe9ea;
  --light: #F6F6F6;
}

html {
  background-color: var(--light);
}

.bg-black {
  background-color: var(--dark-grey);
  color: var(--light);
  text-align: center;
}
/* .container{
  margin: 0 4rem;
} */

.container-center {
 padding: 1rem 0;
 display: flex;
 justify-content: center;
 text-align: center;
}

.container-center .title {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  margin-bottom: 0;
}

/* ===== Banner ===== */
.banner {
  background:linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.6)),url('./assets/img/wallpaper.jpeg'); 

  /* fazendo a imagem ocupar a largura toda da tela */
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 50vh; /* tamanho que vai ocupar */

  color: var(--light);
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner .banner-title {
font-size: 1.8rem;
margin-bottom: 1rem;
}

.banner .banner-description {
 width: 36%;
 line-height: calc(1 * 1.8rem);
}

/*==== texto animado ===== */
.banner-description {
  position: relative;
  /* top: 50%;  */
  width: 20rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1rem;
  color: var(--light-grey);
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  transform: translateY(-10%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 26em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


/* ===== Destaques ===== */
.destaques-title {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

/* ===== Images ===== */

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 12rem;
  
}

.container .wrapper div {
  background-color: var(--light-grey);
  margin-bottom: 1rem;
  margin-right: 1rem;
}

img {
  display: flex;
  width: 15.5rem;
  margin: 0 auto;
  transition: 0.2s;
}

img:hover {
  opacity: 50%;
}

/* ============================= Media Queries */
@media screen and (max-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12rem;
  }

  .banner .banner-description {
    width: 70%;
    line-height: calc(1 * 1.5rem);
   }

}

@media screen and (max-width: 992px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12rem;
  }

  .banner .banner-description {
    width: 60%;
    line-height: calc(1 * 1.5rem);
   }

}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
  .banner .banner-title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    }
 
    .banner .banner-description {
    width: 90%;
    line-height: calc(1 * 1.5rem);
   }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 12rem;
  }
}