
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --dark-grey: #181818;
  --grey: #474747;
  --light-grey: #ebe9ea;
  --light: #F6F6F6;
}

html {
  background-color: var(--light);
}

.bg-black {
  background-color: var(--dark-grey);
  color: var(--light);
  text-align: center;
}

.container {
  margin: 0 auto;
}
 .banner_container {
  max-width: 1200px;
  margin: 0 80px;

}

.container-center {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-center .title {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  margin-bottom: 0;
}

/* ===== Banner ===== */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.6)), url('./assets/img/wallpaper.jpeg');


  /* fazendo a imagem ocupar a largura toda da tela */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 50vh; /* tamanho que vai ocupar */

  color: var(--light);
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner .banner-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.banner .banner-description {
  max-width: 25.245rem;
  line-height: calc(1 * 1.8rem);
}

/*==== texto animado ===== */
/* adicionando o cursor que fica piscando */
.banner-description::after {
  content: "|";
  opacity: 1;
  animation: pisca 0.7s infinite;
}

/* Adicionando animação */
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ===== Destaques ===== */
.destaques-title {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

.destaques-description {
  margin-bottom: 3.72rem;
}

/* ===== Images ===== */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-item {
  flex: 1 1 calc(20% - 10px);
  display: flex;
  align-items: center;

  margin: 10px 10px;

  height: 300px;
  width: 300px;

  background: var(--light-grey);
  transition: 0.2s;
  opacity: 1;
}

.wrapper-item img {
  margin: 0 auto;
  /*width: 100%;*/
}

.wrapper-item:hover {
  filter:opacity(30%);
  cursor: pointer;
}


footer {
  margin-top: 6.25rem;
}

/*====== Media Queries ======*/

@media screen and (max-width: 992px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 86%;
  }

  .wrapper-item {
    flex: 0;
  }
}